<div class="formulaire">
    <div class="formulaire_info">
      <h2>Info</h2>
      <label for="titre">Titre</label>
      <input type="text" id="titre" class="formulaire_info-titre"></input>
      <label for="genre">Genre</label>
      <input type="text" id="genre" class="formulaire_info-genre"></input>
      <label for="date">Date de sortie</label>
      <input type="text" id="date" class="formulaire_info-date"></input>
      <label for="real">Réalisateur</label>
      <input type="text" id="real" class="formulaire_info-real"></input>
      <label for="duree">Durée en minute</label>
      <input type="text" id="duree" class="formulaire_info-duree"></input>
      <label for="age">Restriction d'âge</label>
      <input type="text" id="age" class="formulaire_info-age"></input>
      <label for="desc">Description</label>
      <input type="text" id="desc" class="formulaire_info-desc"></input>
    </div>
    <div class="formulaire_fichier">
      <h2>Fichier</h2>
      <input class="formulaire_fichier-affiche"></input>
      <input class="formulaire_fichier-url-trailer"></input>
    </div>
    <input onclick="{{handler}}" type="button" value="Delete" name="todo">
  </div>