<form class="formulaire">
  <div class="formulaire__film">
    <h1 class="formulaire__title">Ajouter un film</h1>
    <h2>Info</h2>
    <div class="formulaire__info">
      <div class="label__input">
        <label for="titre">Titre</label>
        <input
          name="name"
          type="text"
          id="titre"
          class="formulaire_info-titre"
          required
        />
      </div>
      <div class="label__input">
        <label for="genre">Genre</label>
        <select name="id_category" class="formulaire__info-genre">
          <option value="">Selectionner votre catégorie</option>
          <option value="1">Action</option>
          <option value="2">Romance</option>
          <option value="3">Drame</option>
          <option value="4">Science-fiction</option>
          <option value="5">Animation</option>
          <option value="6">Thriller</option>
          <option value="7">Horreur</option>
          <option value="8">Aventure</option>
          <option value="9">Fantaisie</option>
          <option value="10">Documentaire/Historique</option>
        </select>
      </div>
      <div class="label__input">
        <label for="date">Date de sortie</label>
        <input
          name="year"
          type="number"
          id="date"
          class="formulaire_info-date"
        />
      </div>
      <div class="label__input">
        <label for="real">Réalisateur</label>
        <input
          name="director"
          type="text"
          id="real"
          class="formulaire__info-real"
          required
        />
      </div>
      <div class="label__input">
        <label for="duree">Durée en minute</label>
        <input
          name="length"
          type="number"
          id="duree"
          class="formulaire_info-duree"
          required
        />
      </div>
      <div class="label__input">
        <label for="age">Restriction d'âge</label>
        <input
          name="min_age"
          type="number"
          id="age"
          class="formulaire_info-age"
          min="3"
          max="21"
        />
      </div>
      <div class="label__input">
        <label for="desc">Description</label>
        <textarea
          class="formulaire__desc"
          name="description"
          type="text"
          id="desc"
          class="formulaire_info-desc"
        ></textarea>
      </div>
    </div>
    <h2>Fichier</h2>
    <div class="formulaire__fichier">
      <div class="label__input2">
        <label for="desc">Url de l'image</label>
        <input name="image" class="formulaire_fichier-affiche" required />
      </div>
      <div class="label__input2">
        <label for="desc">Url du trailer</label>
        <input name="trailer" class="formulaire_fichier-url-trailer" required />
      </div>
    </div>
    <input
      class="button"
      onclick="{{handler}}"
      type="button"
      value="Ajouter le film"
      name="todo"
    />
  </div>
</form>
