body {
  background-color: var(--bg-color);
}

figure {
  margin: 0;
}

.FilmCard {
  width: 9rem;
  font-family: var(--font-base);
  color: var(--color-near-white);
}

.FilmCard__figure {
  position: relative;
}

.FilmCard__img {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-bottom: -4rem;
  width: 9rem;
  height: 12rem;
  z-index: 5;
}

.FilmCard__img:active {
  filter: grayscale(1) brightness(0.3);
  transition: filter 0.15s ease-in-out;
}

@media screen and (min-width: 31rem) {
  .GridCard {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, 12rem);
    padding-left: 3rem;
    height: 19rem;
    gap: 0.25rem;
    overflow-x: scroll;
    overflow-y: visible;
  }

  .GridCard::-webkit-scrollbar-track {
    background: var(--bg-color);
    border-radius: 10px;
  }

  .GridCard::-webkit-scrollbar-thumb {
    background: var(--color-soft-purple);
    border-radius: 10px;
  }

  .GridCard::-webkit-scrollbar {
    height: 0.5rem;
  }

  .FilmCard {
    position: relative;
    width: 13rem;
    padding-top: 0.5rem;
    font-family: Inter;
    color: var(--color-white);
    z-index: 30;
  }

  .FilmCard:hover {
    translate: 0 -0.5rem;
    transition: ease-in-out 0.15s;
    z-index: 50;
  }

  .FilmCard__figure {
    position: relative;
  }

  .FilmCard__img {
    margin: 0;
    margin-bottom: -12rem;
    width: 12rem;
    height: 16rem;
    z-index: 5;
    background: none;
    mask-image: linear-gradient(to bottom, black 0%, black 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 0%, black 100%);
  }
}
