<nav class="navbar font-sans">
  <ul class="navbar__list">
    <li class="navbar__item" onclick="window.location.href='index.html'">
      <span class="navbar__item-span"> Home </span>
    </li>
    <li class="navbar__li">
      <img
        class="navbar__img"
        onclick="location.href='index.html'"
        src="../server/images/logo.svg"
        alt="rien"
      />
    </li>
  </ul>

  <div class="navbar__profiles">
    <img
      id="profile-image"
      src="{{imageURL}}"
      alt="Profile Image"
      class="profile-avatar {{Class}}"
    />
    <select
      id="profile-select"
      required
      class="navbar__profile-select"
      onchange="C.handleProfileChange()"
    >
      {{profileOptions}}
    </select>
  </div>
</nav>
