@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background-color: var(--bg-color);
}

.GridCard {
  display: grid;
  grid-template-columns: repeat(auto-fill, 9rem);
  gap: 1rem;
}

.GridCard {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, 9rem);
  padding-left: 1.5rem;
  height: 13rem;
  gap: 1rem;
  overflow-x: scroll;
}

.GridCard::-webkit-scrollbar-track {
  background: var(--bg-color);
  border-radius: 10px;
}

.GridCard::-webkit-scrollbar-thumb {
  background: var(--color-soft-purple);
  border-radius: 10px;
}

.GridCard::-webkit-scrollbar {
  height: 8px;
}

figure {
  margin: 0;
}

.GridCard {
  display: grid;
}

.FilmCard {
  width: 9rem;
  font-family: Inter;
  color: rgb(235, 235, 235);
}

.FilmCard__figure {
  position: relative;
}

.FilmCard__img {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-bottom: -4rem;
  width: 9rem;
  height: 12rem;
  z-index: 5;
  border-radius: 0.3rem;
  -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
}

.FilmCard__img:active {
  filter: grayscale(1) brightness(0.3);
  transition: filter 0.15s ease-in-out;
}

.FilmCard__caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  z-index: 10;
  border-radius: 0.1rem;
}

.FilmCard__title {
  margin: 0;
  font-size: 1rem;
}

@media screen and (min-width: 31rem) {
  .GridCard {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, 12rem);
    padding-left: 1.5rem;
    height: 17.5rem;
    gap: 1rem;
    overflow-x: scroll;
  }

  .GridCard::-webkit-scrollbar-track {
    background: var(--bg-color);
    border-radius: 10px;
  }

  .GridCard::-webkit-scrollbar-thumb {
    background: var(--color-soft-purple);
    border-radius: 10px;
  }

  .GridCard::-webkit-scrollbar {
    height: 8px;
  }

  .FilmCard {
    width: 12rem;
    font-family: Inter;
    color: var(--color-white);
  }

  .FilmCard__figure {
    position: relative;
  }

  .FilmCard__img {
    margin: 0;
    margin-bottom: -7rem;
    width: 12rem;
    height: 16rem;
    z-index: 5;
    border-radius: 0.3rem;
    background: none;
    mask-image: linear-gradient(to bottom, black 0%, black 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 0%, black 100%);
  }

  .FilmCard__img:hover {
    border: solid var(--color-white);
    filter: grayscale(1) brightness(0.5);
    transition: filter 0.15s ease-in-out;
  }

  .FilmCard:hover .FilmCard__caption {
    color: var(--color-white);
    transition: 0.2s ease-in-out;
  }

  .FilmCard__caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    z-index: 10;
    border-radius: 0.1rem;
    background-color: transparent;
    color: transparent;
  }

  .FilmCard__title {
    margin: 0;
    font-size: 2rem;
  }
}
