.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  padding-left: 0;
  margin-bottom: 3rem;
  color: var(--color-fg);
  background-color: var(--color-bg);

  .navbar__item {
    --_offset: 0.2rem;
    padding: 0.5rem 1rem;
    padding-left: 0;
    margin-left: 6rem;
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: var(--_offset);
    cursor: pointer;
    transition: text-underline-offset 0.2s ease-in-out;
    &:hover {
      --_offset: 0.5rem;
    }
  }

  .navbar__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .navbar__img {
    width: 7rem;
    border-radius: 2rem;
    list-style: none;
  }

  .navbar__li {
    list-style: none;
  }
}

@media screen and (max-width: 31rem) {

  .navbar__img {
    width: 2rem;
    border-radius: 2rem;
    list-style: none;
  }
}