.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 3rem;
  color: var(--color-fg);
  background-color: var(--color-bg);

  .navbar__item {
    --_offset: 0.2rem;
    padding: 0.5rem 1rem;
    padding-left: 0;
    margin-left: 4rem;
    text-decoration: underline;
    font-size: 2rem;
    list-style: none;
    text-transform: uppercase;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: var(--_offset);
    cursor: pointer;
    transition: text-underline-offset 0.2s ease-in-out;
    &:hover {
      --_offset: 0.5rem;
    }
  }
}

.navbar__img {
  width: 7rem;
  border-radius: 2rem;
  list-style: none;
}

.navbar__li {
  list-style: none;
}

.navbar__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0;
  list-style: none;
}

.navbar__profiles {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.navbar__profile-select {
  background-color: var(--bg-color);
}

.profile-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--color-white);
  transition: opacity 0.3s ease;
}

option {
  color: var(--color-white);
}

select {
  color: var(--color-white);
}

.hidden {
  display: none;
}
