<nav class="navbar font-sans">
  <ul class="navbar__list">
    <li class="navbar__li">
      <img
        class="navbar__img"
        onclick="location.href='index.html'"
        src="../server/images/Logo.png"
        alt="rien"
      />
    </li>
    <li class="navbar__item" onclick="location.href='index.html'">Home</li>
    <select name="profile" id="profile-select" onchange="C.changeProfiles()">
      {{profiles}}
    </select>
    <li>
      <img
        class="navabar__profiles-img"
        src="../server/photo/{{photo}}"
        alt="rien"
      />
    </li>
  </ul>
</nav>
