<div class="FilmInfo">
  <div class="FilmInfo_cross">
    <button onclick="window.V.clearFilmInfo()" class="FilmInfo__close">
      ✖
    </button>
  </div>

  <iframe
    class="FilmInfo__video"
    width="100%"
    height="200"
    src="{{video}}"
    allowfullscreen
  ></iframe>

  <h1 class="FilmInfo__titre">{{titre}}</h1>
  <div class="FilmInfo__content">
    <div class="FilmInfo__text">
      <div class="FilmInfo__desc-genre">
        <p class="FilmInfo__desc">{{desc}}</p>
        <span class="FilmInfo__genre">{{genre}}</span>
      </div>
      <div class="FilmInfo__badges">
        <span class="FilmInfo__meta">{{date}}</span>
        <span class="FilmInfo__meta">{{time}} min</span>
        <span class="FilmInfo__badge">{{age}}+</span>
      </div>
    </div>
    <p class="FilmInfo__real">
      Directeur : <br />
      {{real}}
    </p>
  </div>
</div>
