.FilmCategory__title {
  font-family: var(--font-base);
  color: var(--color-white);
  margin-bottom: 0.4rem;
  margin-left: 4rem;
  text-transform: uppercase;
  font-size: var(--fz-15);
}

.FilmCategory__list {
  display: flex;
  flex-direction: row;
  padding-left: 3rem;
  height: 13rem;
  gap: 0.5rem;
}

.GridCard {
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 1rem;
  margin: 0 -1rem;
}

.GridCard::-webkit-scrollbar-track {
  display: none;
}

.GridCard::-webkit-scrollbar-thumb {
  display: none;
}

.GridCard::-webkit-scrollbar {
  height: 8px;
}

.GridCardGenre {
  display: flex;
}

.p {
  margin-bottom: 1.5rem;
  margin-left: 5rem;
  font-family: Inter;
  color: var(--color-white);
  font-size: var(--fz-15);
}

.FilmCategory__carousel-container {
  position: relative;
  overflow: hidden;
  padding: 0 2rem;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 0.8rem;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 60;
  border-radius: 50%;
}

.carousel-btn.left {
  left: 0;
}

.carousel-btn.right {
  right: 0;
}

.carousel-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 31rem) {
  .GridCard {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, 9rem);
    padding-left: 0.5rem;
    height: 13rem;
    margin-bottom: 2.5rem;
    gap: 0.3rem;
    overflow-x: scroll;
  }

  .p {
    margin-bottom: 1.5rem;
    margin-left: 2rem;
  }
}
